name: base_env
channels:
  - conda-forge
  - defaults
dependencies:
{%if exponentiated_gradient or grid_search%}
  - fairlearn==0.8.0
{%endif%}
{%if excel%}
  - openpyxl
{%endif%}
  - pandas=1.5.3
  - python=3.9
{%if chart%}
  - matplotlib
  - seaborn
{%endif%}
{%if parquet%}
  - pyarrow
{%endif%}
  - pip
  - scikit-learn=1.2.1
  - scipy=1.10.0
  - pip:
    {%if hdf5%}
    - tables
    {%endif%}
    - aif360[{%if adversarial_debiasing%}AdversarialDebiasing,{%endif%}DisparateImpactRemover,Reductions]
    - demv