import numpy as np
import pandas as pd
{%if validation=='k_fold' or not use_validation%}
from sklearn.model_selection import KFold
{%endif%}
{%if validation=='leave_one_out'%}
from sklearn.model_selection import LeaveOneOut
{%endif%}
{%if validation=='leave_p_out'%}
from sklearn.model_selection import LeavePOut
{%endif%}
{%if validation=='stratified_k_fold'%}
from sklearn.model_selection import StratifiedKFold
{%endif%}
{%if validation=='group_k_fold'%}
from sklearn.model_selection import GroupKFold
{%endif%}
{%if validation=='stratified_group_k_fold'%}
from sklearn.model_selection import StratifiedGroupKFold
{%endif%}
{%if exponentiated_gradient or grid_search%}
from fairlearn.reductions import BoundedGroupLoss, GridSearch, ExponentiatedGradient, DemographicParity, ZeroOneLoss
{%endif%}
from aif360.datasets import BinaryLabelDataset
{%if reweighing%}
from aif360.algorithms.preprocessing import Reweighing
{%endif%}
{%if dir%}
from aif360.algorithms.preprocessing import DisparateImpactRemover
{%endif%}
{%if lfr%}
from aif360.algorithms.preprocessing import LFR
{%endif%}
from copy import deepcopy
from scipy import stats
{%if blackbox%}
from balancers import MulticlassBalancer, BinaryBalancer
{%endif%}
{%if demv%}
from demv import DEMV
{%endif%}
{%if adversarial_debiasing%}
from aif360.algorithms.inprocessing import AdversarialDebiasing
import tensorflow.compat.v1 as tf
{%endif%}
{%if gerry_fair_classifier%}
from aif360.algorithms.inprocessing import GerryFairClassifier
{%endif%}
{%if meta_fair_classifier%}
from aif360.algorithms.inprocessing import MetaFairClassifier
{%endif%}
{%if prejudice_remover%}
from aif360.algorithms.inprocessing import PrejudiceRemover
{%endif%}
{%if calibrated_eo or reject_option_classifier%}
from aif360.sklearn.postprocessing import PostProcessingMeta
{%endif%}
{%if calibrated_eo%}
from aif360.sklearn.postprocessing import CalibratedEqualizedOdds
{%endif%}
{%if reject_option_classifier%}
from aif360.sklearn.postprocessing import RejectOptionClassifierCV
{%endif%}
{%if mlp__classifier%}
from sklearn.neural_network import MLPClassifier
{%endif%}
import metrics
{%if web%}
import importlib
{%endif%}
{%if statistical_mean%}
import statistics
{%endif%}

{%if web%}
metrics = importlib.reload(metrics)
from metrics import *
{%endif%}